name: RK3128 单独编译 Armbian 固件【修复运行失败+无img】
on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/build-armbian-rk3128.yml'
  workflow_dispatch:

jobs:
  build-armbian:
    runs-on: ubuntu-22.04
    steps:
      - name: 环境配置
        run: |
          sudo apt update -y && sudo apt install -y build-essential gcc g++ make patch unzip curl wget git libncurses5-dev libssl-dev flex bison zlib1g-dev gawk gettext subversion
          sudo timedatectl set-timezone Asia/Shanghai

      - name: 拉取源码
        uses: actions/checkout@v4

      - name: 编译Armbian
        run: |
          git clone https://github.com/armbian/build armbian
          cd armbian
          cp -f ../armbian_config/config-rk3128.conf userpatches/config.conf
          ./compile.sh BOARD=rk3128 ARCH=armhf KERNEL_VERSION=5.15.148 BUILD_MINIMAL=no BUILD_DESKTOP=no
          cp -f output/images/*.img ../

      - name: 上传固件
        uses: actions/upload-artifact@v4
        with:
          name: RK3128-Armbian-固件-${{ github.run_id }}
          path: '*.img'
